.container {
	display: block;
}
.logoImg {
	width: 90vw;
	max-width: 35rem;
	background-color: #f5fffa;
	height: 5rem;
	height: fit-content;
	margin: 1rem;
	margin: 0 auto;
}
.logo img {
	margin: 0 auto;
}
/* 
@media (min-width: 26rem) {
	.logoImg {
		width: 100%;
		background-color: #f5fffa;
		height: 5rem;
		height: fit-content;
		margin: 1rem;
		margin: 0 auto;
	}
	.logo img {
		width: 35vw;
		margin: 0 auto;
	}
}

@media (min-width: 48rem) {
	.logoImg {
		width: 100%;
		background-color: #f5fffa;
		height: 5rem;
		height: fit-content;
		margin: 1rem;
		margin: 0 auto;
	}
	.logo img {
		width: 35vw;
		margin: 0 auto;
	}
}
@media (min-width: 84rem) {
	.logoImg {
		width: 100%;
		background-color: #f5fffa;
		height: 5rem;
		height: fit-content;
		margin: 1rem;
		margin: 0 auto;
	}
	.logo img {
		width: 35vw;
		margin: 0 auto;
	}
} */
