.container {
	display: block;
}

.logoImg {
	width: 95%;
	background-color: #f5fffa;
	height: 5rem;
	height: fit-content;
	margin: 1rem;
	margin: 0 auto;
}

.logo {
	width: 90%;
	margin: 0 auto;
}
@media (min-width: 26rem) {
	.logoImg {
		width: 100vw;
		background-color: #f5fffa;
	}
	.logo img {
		width: 90%;
		max-width: 600px;
	}
}

@media (min-width: 48rem) {
	.logoImg {
		width: 100vw;
		background-color: #f5fffa;
	}
	.logo img {
		width: 80%;
		max-width: 800px;
	}
}
@media (min-width: 84rem) {
	.logoImg {
		width: 100vw;
		background-color: #f5fffa;
	}
	.logo img {
		max-width: 800px;
		min-width: 500px;
	}
}
