.endereco {
	display: block;
	color: rgb(213, 210, 210);
	font-size: 0.75rem;
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-weight: lighter;
	font-family: sans-serif;
	background-color: rgb(53, 53, 53);
}

@media (min-width: 26rem) {
	.endereco {
		font-size: 0.9rem;
	}
}
@media (min-width: 48rem) {
	.endereco {
		font-size: 1.1rem;
	}
}
@media (min-width: 84rem) {
	.endereco {
		font-size: 1.5rem;
	}
}
