@media (max-width: 26rem) {
	.menu {
		display: none;
	}

	.menuActive {
		display: inline;
		height: fit-content;
		border: none;
	}

	.link {
		display: block;
		font-weight: bold;
		text-align: center;
		font-size: 0.75rem;
		color: var(--orange);
		padding: 0.3rem;
		font-family: var(--type-first);
	}
	.link::after {
		content: "";
		display: flex;
		box-shadow: 0 1px 2px rgba(216, 198, 198, 0.2);
		position: relative;
		height: 2px;
		width: 90%;
		margin: 0 auto;
	}

	.roda {
		text-align: left;
		cursor: pointer;
		display: inline;
		width: 3rem;
		height: auto;
		margin: 0.2rem;
		opacity: 0.8;
	}

	.rodaActive {
		animation: rodaLeft infinite 1s forwards;
		animation-iteration-count: 1;
	}

	@keyframes rodaLeft {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(-360deg);
		}
	}

	.linha {
		font-size: 0.9rem;
		background: var(--blue);
		color: #ffffff;
		height: 1.5rem;
		box-sizing: border-box;
		border: 1px solid rgba(68, 68, 68, 0.262);
		border-radius: 4px;
		margin: auto auto;
		margin-left: 0.4rem;
		text-align: center;
		font-size: 0.75rem;
	}

	.menuLine {
		display: flex;
		width: max-content;
		background-color: transparent;
		margin: 0px;
		padding: 0px;
	}

	.menucontainer {
		background-color: #2b2b2b;
		box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.2);
		height: max-content;
		width: 10rem;

		border-radius: 4px;
	}
	.menucontainerActive {
		transform: translateX(-180px);
		animation: corridaLeft 1s forwards;
	}
	.menuopen {
		position: fixed;
		width: 10rem;
		top: 4.5rem;
	}

	@keyframes corridaLeft {
		to {
			transform: initial;
		}
	}
	.menumobileActive {
		display: block;
		position: fixed;
		top: 1rem;
	}
	.menumobile {
		position: sticky;
		width: fit-content;
	}
	.menublock {
		width: fit-content;
		position: relative;
		height: 3.9rem;
		z-index: 100;
	}
}
/* Tablet */
@media (min-width: 26rem) {
	.link {
		font-size: 1.1rem;
		display: inline-block;
		color: white;
		margin-top: 0.5rem;
		border-radius: 0.4rem;
		background: var(--blue);
		padding: 0.5rem 0.6rem;
		box-sizing: border-box;
		width: auto;
		height: auto;
	}
	a {
		margin: 0.5rem;
	}
}

/* Laptop */
@media (min-width: 48rem) {
	.link {
		font-size: 1.2rem;
		display: inline-block;
		color: white;
		margin-top: 0.5rem;
		border-radius: 0.4rem;
		background: var(--blue);
		padding: 0.6rem 0.7rem;
	}
	a {
		margin: 0.5rem;
	}
}
/* Desktop */
@media (min-width: 84rem) {
	.link {
		font-size: 1.5rem;
		display: inline-block;
		color: white;
		margin-top: 0.5rem;
		border-radius: 0.4rem;
		background: var(--blue);
		padding: 0.7rem 1rem;
	}
	a {
		margin: 0.8rem;
	}
}
