.servicos {
	display: block;
	grid-column: 1/2;
}
.servi {
	background-color: var(--main-white);
	padding: 0.5rem;
	width: auto;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.servico {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: left;
	align-items: center;
	margin-bottom: 0.5rem;
}
.servico img {
	background: var(--orange);
	border-radius: 0.2rem;
	height: auto;
	width: 1.5rem;
	grid-column: 1/2;
	align-items: center;
	justify-content: center;
	transition: 0.1s;
	margin-right: 0.5rem;
	border: 1px solid black;
}
.servico h1 {
	grid-column: 2/3;
	grid-column: 2/3;
	color: #333;
	font-size: 0.875rem;
	margin-bottom: 0.5rem;
	text-align: left;
}

.geometria {
	width: 100%;
	grid-column: 2/3;
	height: 12rem;
	box-shadow: 5px 5px 5px rgb(22, 22, 22);
}

.maincontainer {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 1fr 1fr;
}

@media (min-width: 26rem) {
	.servico img {
		margin: 0.8rem;
		min-width: 2rem;
		max-width: 2rem;
		border: 1px solid black;
	}
	.servico h1 {
		padding: 0.6rem;
		font-size: 1.25rem;
		margin: 1rem;
		min-height: 1rem;
	}
	.geometria {
		height: 20rem;
	}
}
@media (min-width: 48rem) {
	.servico img {
		margin: 0.8rem;
		min-width: 2.7rem;
		max-width: 2.7rem;
		border: 1px solid black;
	}
	.servico h1 {
		padding: 0.6rem;
		font-size: 1.5rem;
		margin: 1rem;
		min-height: 1rem;
	}
	.geometria {
		height: 25rem;
	}
}
@media (min-width: 84rem) {
	.servico img {
		margin: 0.65rem;
		min-width: 3rem;
		max-width: 3rem;
		border: 1px solid black;
	}
	.servico h1 {
		padding: 0.75rem;
		font-size: 2rem;
		margin: 1rem;
		min-height: 1rem;
	}
	.geometria {
		height: 25rem;
	}
}
