.servicos {
	display: block;
	grid-column: 1/2;
}
.servi {
	background-color: var(--main-white);
	margin: 3px 0px;
	padding: 0.5rem;
	width: auto;
	box-shadow: 0 0 0 3px rgb(8, 90, 162);
}
.servico {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: left;
	align-items: center;
	margin-bottom: 0.5rem;
}
.servico img {
	background: var(--orange);
	border-radius: 0.2rem;
	height: auto;
	width: 1.5rem;
	grid-column: 1/2;
	align-items: center;
	justify-content: center;
	border: 1px solid transparent;
	transition: 0.1s;
	cursor: pointer;
	margin-right: 0.5rem;
}
.servico h1 {
	grid-column: 2/3;
	grid-column: 2/3;
	color: #333;
	font-size: 0.875rem;
	margin-bottom: 0.5rem;
	text-align: left;
}

.geometria {
	width: 100%;
	grid-column: 2/3;
	height: 12rem;
}

.maincontainer {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 1fr 1fr;
}
