.titulo2 {
	color: white;
	display: block;
	text-align: center;
	/* background: url("../../Assets/agendamento.jpg") no-repeat center center; */

	width: 100%;
	height: 28rem;
}
.contagiro {
	width: 100vw;
	display: block;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	opacity: 0.95;
	padding: 0px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.492);
	object-fit: cover;
	object-position: 25% 40%;
	height: 100%;
}
.titulo2 h1 {
	font-size: 2rem;
	padding: 0;
	padding-top: 1rem;
	-webkit-text-stroke: 1px rgba(4, 9, 16, 0.2);
	text-shadow: 2px 2px #000000cb;
	font-family: var(--type-first);
	color: var(--main-white);
}

.titulo2 p {
	-webkit-text-stroke: 1px rgba(255, 255, 255, 0);
	color: var(--orange);
	font-family: var(--type-first);
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.905);
	margin-top: 2rem;
	font-size: 1.3rem;
	line-height: 1rem;
}

.titulo2 a {
	color: var(--blue);
	-webkit-text-stroke: 1px rgba(1, 174, 231, 0.912);
}

.glass {
	backdrop-filter: blur(5px) saturate(180%);
	-webkit-backdrop-filter: blur(1px) saturate(100%);
	background-color: rgba(141, 141, 141, 0.1);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	margin: 4rem auto;
	width: fit-content;
}

@media (max-width: 26rem) {
	.contagiro {
		width: fit-content;
		height: 120%;
		object-fit: fill;
	}
	.titulo2 h1 {
		font-size: 1.4rem;
		margin-bottom: 4rem;
		padding: 0;
		margin: 0;
	}

	.titulo2 p {
		margin-top: 1rem;
		font-size: 1.25rem;
		line-height: 1.25rem;
	}
	.titulo2 {
		width: 100%;
		height: 15rem;
	}
	.glass {
		margin: 2rem 4%;
		width: 90%;
	}
}
