.titulo2 {
	color: white;
	display: block;

	text-align: center;
	margin-top: 10;
	background: url("../../Assets/agendamento.jpg") no-repeat center center;
	opacity: 0.95;
	background-size: cover;
	width: auto;
	height: 10rem;
	margin-top: 1rem;
	background-position: center;
}
.titulo2 h1 {
	font-size: 1.5rem;
	-webkit-text-stroke: 1px rgba(4, 9, 16, 0.2);
	text-shadow: 2px 2px #000000cb;
	font-family: var(--type-first);
}

.titulo2 p {
	margin-top: 1rem;
	line-height: 1.5rem;
	-webkit-text-stroke: 2px rgba(0, 0, 0, 0.157);
	color: rgb(255, 255, 255);
	font-family: var(--type-second);
}

.titulo2 a {
	color: var(--blue);
	-webkit-text-stroke: 1px rgba(1, 174, 231, 0.6);
}
