.titulo {
	color: white;
	display: block;
	font-size: 1.5rem;
	padding-top: 2rem;
	margin: 0.5rem auto;
	background-position: top;
	-webkit-text-stroke: 1px rgba(4, 9, 16, 0.536);
	text-shadow: 2px 2px #000000cb;
	line-height: 3rem;
}

.titulo2 {
	color: white;
	display: block;
	font-size: 1.5rem;
	text-align: center;
	margin-top: 10;
	background: url("../../Assets/agendamento.jpg") no-repeat center center;
	background-size: cover;
	width: auto;
	height: 10rem;
	margin-top: 1rem;
	background-position: center;
}

.texto {
	color: rgb(58, 58, 58);
	font-size: 0.75rem;
	font-family: "Inter";
	font-weight: 400;
	text-align: left;
	border: 1px solid rgba(196, 196, 196, 0.134);
}

.geometria {
	width: 50%;
}

.container {
	display: flex;
	margin-top: 1rem;
}
.main {
	padding: 0px;
	width: auto;
	padding-bottom: 1rem;
	box-shadow: 0 0 0 3px rgb(8, 90, 162);
	background: url("../../Assets/bmw.jpg") no-repeat center center;
	background-size: cover;
	height: 12rem;
}
