.botao {
	display: block;
	font-weight: bold;
	color: white;
	background-color: var(--orange);
	font-family: var(--type-first);
	border-radius: 0.5rem;
	border: none;
	box-sizing: border-box;
	transition: 0.1s;
	cursor: pointer;
}

.botao:hover,
.botao:focus {
	outline: none;
	box-shadow: 0 0 0 1px var(--blue);
	background: #f95b00;
}

.botao:disabled {
	opacity: 0.5;
	cursor: wait;
}
