input[type="text"],
input[type="password"],
input[type="email"],
textarea {
	display: block;
	border: 1px solid #ccc;
	width: 100%;
	border-radius: 4px;
	background: #eee;
	transition: 0.2s;
	margin: 0.5rem 0 1rem 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	outline: none;
	border: var(--blue);
	background: white;
	box-shadow: 0 0 0 3px var(--orange);
}

.form {
	display: flex;
	border: 1px solid black;
	width: 90%;
	margin: 1rem auto;
	min-width: 300px;
}

Form {
	width: 100%;
	margin: 1rem;
}

.label,
select {
	text-align: left;
	display: inline-block;
	width: 100%;
	font-family: var(--type-second);
	font-size: 1rem;
}

textarea {
	font-family: var(--type-second);
	font-size: 1rem;
	border: 1px solid #7d7d7d;
}

@media (min-width: 26rem) {
	.form {
		min-width: 25rem;
		width: 50%;
	}
}
@media (min-width: 48rem) {
	.form {
		min-width: 30rem;
		width: 35%;
	}
}
@media (min-width: 84rem) {
	.form {
		width: 40%;
	}
	Form {
		width: 100%;
	}
	.label,
	select {
		width: 100%;
		font-size: 1.25rem;
	}
	textarea {
		font-size: 1.25rem;
	}
}
