.perguntas li {
	width: fit-content;
	margin: 1rem;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
}
.perguntas li h3:hover {
	background-color: rgba(243, 122, 0, 0.1);
}
.resposta {
	display: none;
	transition: all 1.3s ease-in-out;
}

.respostaActive {
	display: block;
	margin: 0.5rem 0rem 1rem 1.5rem;
	padding: 0px;
	width: 90%;
	text-align: left;
	font-family: var(--type-second);
	font-size: 0.875rem;
	white-space: pre-line;
	/* white-space para fazer o \n funcionar no json */
}

.perguntas h3 {
	display: inline;
	margin: 0px;
	padding: 0px;
}
.perguntas h3::before {
	content: " ";
	display: block;
	position: absolute;
	width: 1rem;
	height: 1rem;
	border-radius: 4px;
	background-color: var(--orange);
	opacity: 0.7;
	z-index: -1;
	margin-left: -0.3rem;
}

.seta {
	margin: 0px;
	padding: 0px;
	display: inline;
}
@media (min-width: 26rem) {
}
@media (min-width: 48rem) {
}
@media (min-width: 84rem) {
}
