body {
	resize: block;
	display: block;
	max-width: fit-content;
	height: auto;
	border: 0;
	outline: 0;
	--main-white: #fcfffe;
	--type-first: "Inter", Arial, sans-serif;
	--type-second: "Roboto", Georgia;
	font-family: var(--type-first);
	margin: 0px;
	background-color: var(--main-white);
	--blue: #1261a3;
	--background1: #f5fffa;
	--orange: #ff9f29;
}

.App {
	display: block;
	max-height: 100vh;
	align-items: center;
	justify-content: center;
}

h1,
h2,
h3,
h4,
p {
	margin: 0px;
}

ul,
li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

img {
	max-width: 100%;
}

button,
input {
	display: block;
	font-size: 1rem;
	font-family: var(--type-first);
	color: #333;
}

a {
	text-decoration: none;
	color: #333;
}

.container {
	max-width: 80rem;
	padding: 0 0.5rem;
	margin: 0 auto;
}
.animeLeft {
	opacity: 0;
	transform: translateX(-20px);
	animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
	to {
		opacity: 1;
		transform: initial;
	}
}

/* @media (min-width: 26rem) {
	.App-logo {
		animation: App-logo-spin infinite 5s linear;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
} */

/* .mainContainer {
	margin-top: 4rem;
} */
/* 
.title {
	font-family: var(--type-second);
	line-height: 1;
	font-size: 3rem;
	margin: 1rem 0;
	position: relative;
	z-index: 1;
}

.title::after {
	content: " ";
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	background: #fb1;
	position: absolute;
	bottom: 5px;
	left: -5px;
	border-radius: 0.2rem;
	z-index: -1;
}
 as */

/*
/* 
.AppBody {
	flex: 1;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 3s linear;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

 */
/* } */
