body {
	overflow-x: hidden;
	resize: block;
	display: block;
	max-width: fit-content;
	height: auto;
	border: 0;
	outline: 0;
	--main-white: #fcfffe;
	--type-first: "Unbounded", Arial, sans-serif;
	--type-second: "Roboto", Georgia;
	font-family: var(--type-first);
	margin: 0px;
	background-color: var(--main-white);
	--blue: #1261a3;
	--background1: #f5fffa;
	--orange: #ff9f29;
}

.App {
	display: block;
	max-height: 100vh;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
	margin: 0px;
}

ul,
li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

img {
	max-width: 100%;
}

button,
input {
	display: block;
	font-size: 1rem;
	font-family: var(--type-first);
	color: #333;
}

a {
	text-decoration: none;
	color: #333;
}

.container {
	max-width: 70rem;
	padding: 0 0.5rem;
	margin: 0 auto;
}
.animeLeft {
	opacity: 0;
	transform: translateX(-20px);
	animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
	to {
		opacity: 1;
		transform: initial;
	}
}

.mainContainer {
	display: block;
	max-width: 100%;
	width: 100vw;
	margin: 0px;
	text-align: center;
	justify-content: center;
	align-items: center;
}
